// Your application styles go here
/* color pallete */

$grayBackground: #e0e0e0;
$whiteBackground: #ffffff;
$UHCtextGray: #444444;
$darkBlue: #033e9f;
$aquaBlue: #0097b0;
$orange: #ff6914;
$purple: #673ab6;
$tabGrayLight: #444444;
$tabGrayDark: #333333;
$starYellow: #f09600;
$darkYellow: #ff9900;
$darkGreen: #008000;
/* login page */

img {
    padding-right: 10px;
}

table {
    width: 50%;
    font-size: 14px;
    th,td{
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }
}

th {
    font-weight: bold;
}

.pane {
    background-color: $grayBackground;
    .list-inset {
        background: none;
        padding: none;
    }
    a {
        color: $darkBlue;
    }
}
.bar.bar-stable {
    background-color: $grayBackground;
}
.btn-login {
    background-color: $darkBlue;
    color: white;
    border-radius: 10px;
    padding: 0 12px !important;
    font-weight: bold;
    // margin: 20px 10px;
}
// search 
//icons in search
div.bar.bar-header.item-input-inset > label > i, div.bar.bar-header.item-input-inset > button > i {
    color: black;
}
div.bar.bar-header.item-input-inset > label {
    background: white;
}
// cards
.card {
    border-top-style: solid;
    border-width: 7px;
    h2 {
        font-size: 2.1em;
    }
    .item p {
        font-size: 17px;
    }
    div.item.item-text-wrap > div > div.item.item-avatar > img {
        max-width: 55px;
        max-height: 55px;
    }
}
//blue card
.blue-card {
    border-top-style: solid;
    border-width: 7px;
    border-color: $aquaBlue;
    .item p {
        font-size: 17px;
    }
    h2 {
        color: $aquaBlue;
        font-family: 'Helvetica Neue';
        font-weight: 100px;
        font-size: 2.1em;
        background: white;
        div.item.item-text-wrap > div > div.col-30 > i {
            transform: scale(2, 2);
        }
    }
    .reminder {
        color: $aquaBlue !important;
        font-size: 25px;
    }
}

// orange card 

.orange-card{
	border-top-style: solid;
    border-width: 7px;
    border-color: $orange;
}



//purple-card

.purple-card{
	border-top-style: solid;
    border-width: 7px;
    border-color: $purple;
    color:$purple;

    .h2{
    	color:$purple;
    }
}

// green card 

.green-card{
    border-top-style: solid;
    border-width: 7px;
    border-color: $darkGreen;

    .h2{
        color:$darkGreen;
    }
}

  span.gc-cs-link{
    	color:$UHCtextGray !important;
    }

// tabs 
ion-nav-view > ion-tabs > div.tabs {
    background: $UHCtextGray;
    color: white;
}
.dash-header {
    color: $UHCtextGray !important;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-family: 25px !important;
}

//helpers
.scale2 {
    transform: scale(2, 2);
}
// colors
.gray {
    color: $UHCtextGray !important;
}
.orange {
    color: $orange;
}

.purple{
	color:$purple !important;
}

.green{
    color:$darkGreen !important;
}

.no-padding {
    padding: 0px !important;
}
