<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.name}}">
  <ion-content has-header="true" padding="true">
  	<div class="list">
        <div class="list card item-text-wrap orange-card">
          <div class="item">
	          <img align="left" src="./images/pward.png">
	          <h2>{{friend.name}}</h2>
	          <p>The Best Medical Group Ever
				<br>1115 N. Halsted
				<br>Chicago, IL 60657
				<br>773-123-5000
				<br><a target="new" href="http://www.thebestdoctorever.com">www.thebestdoctorever.com</a></p>
          </div>

          <div class="item item-text-wrap">
          	<p><b>Professional Details</b></p>
          		<li>Orthapedics (Board Certified)</li>
          		<li>University of Oklahoma Medical School 2001</li>
          	<br>
          	<p><b>Hospital Affiliations</b></p>
          		<li>Swedish Covenant</li>
          		<li>Northwestern Hospital</li>
          	<br>
          	<p><b>Areas of Expertise</b></p>
          		<li>Sports Medicine</li>
          		<li>Joint replacement</li>
          		<li>Ligament repair</li>
          </div>
          <div class="item item-text-wrap">
          	<p><b>Patient Satisfaction</b> (from Healthgrades)</p>
          	<p class="ion-ios-star-outline">Trust in provider's decisions:</p>
          	<p>Explains medical conditions:</p>
          	<p>Listens and answers questions:</p>
          	<p>Spends appropriate time w/ patients:</p>
          </div>
          <div class="item item-text-wrap">
          	<p><b>Cost</b></p>
          	<p>Office visit: $40 co-pay plus 20% of cost of services up to $600 remaining in your out-of-pocket maximum.</p>
          	<br>
          	<p><b>Most Frequent Procedures</b></p>
          	<table align="center">
          	  <tr>
      			    <th>Procedure</th>
      			    <th>Your Cost</th> 
      			    <th>Total Cost</th>
      			  </tr>
      			  <tr>
      			    <th>Cortisone Injection</th>
      			    <td>$175</td> 
      			    <td style="color: red;">$289</td>
      			  </tr>
      			  <tr>
      			    <th>ACL Repair</th>
      			    <td>$900-$3,700</td> 
      			    <td style="color: #ff9900;">$16,000-$30,000</td>
      			  </tr>
      			  <tr>
      			    <th>Hip Replacement</th>
      			    <td>$3,700-$17,000</td> 
      			    <td style="color: #008000;">$33,500-$61,000</td>
      			  </tr>
      			</table>
      			<br>
      			<p>Know the type of procedure? Select to find cost --></p>
      			<p><b>Other Locations:</b>
      			<br>9829 S. Archer
      			<br>Chicago, IL 60697
      			<br>773-987-6000</p>
          </div>
        </div>
  </ion-content>
</ion-view>
