<ion-view title="">
    <ion-content class="has-header">
        <div class="row row-top">
     <img src="img/images/logo.png" class="col col-60 col-center padding">
           
        </div>

        <div class="row row-center" style="height:50px">
        </div>

        <div class="row row-bottom">
            <div class="col">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Username">
                    </label>
                    <br />
                    <label class="item item-input">
                        <input type="text" placeholder="Password">
                    </label>
                </div>
                <button class="col button button-block btn-login" ng-click="loggedIn()">
                    Login
                </button>
                
                <p style="text-align:center"><a href="#" >Forgot Password</a> | <a href="#">Register</a></p>
                
            </div>
        </div>
    </ion-content>
</ion-view>
