<ion-view title="Medications">
  <ion-content has-header="true" padding="true">
  	<div class="list">
        <div class="list card item-text-wrap purple-card">
          <div class="item">
	          <h2>Medications</h2>
          </div>

          <div class="item item-text-wrap">
          	<p><b>Advil</b></p>
          		<li>2 tablets, 200 mg each, AM &amp; PM prescribed by Dr. Johnson for broken ankle since 12/20/2014</li>
          		<li>no refill information available</li>
          </div>
          <div class="item item-text-wrap">
          	<p><b>Loratadine (Claritin)</b></p>
          		<li>1 tablet, 15mg each, AM prescribed by Dr. Wong for seasonal rhinitis since 4/19/2013</li>
          		<li>0 refills left; last refilled 1/7/2014 at CVS</li>
          </div>
          <div class="item item-text-wrap">
          	<p><b>Crestor</b></p>
          		<li>1 tablet, 250mg each, PM prescribed by Dr. Smith to reduce cholesterol since 4/19/2013</li>
          		<li>2 refills left; last refilled 12/17/2014 at CVS</li>
          </div>
          <div class="item item-text-wrap">
          	<p><b>Adderall</b></p>
          		<li>1 tablet, 30mg each, with breakfast prescribed by Dr. Wong for ADD since 5/16/2011</li>
          		<li>2 refills left; last refilled 12/17/2014 at MailOrder</li>
          	<br>
          	<p><a href="">Show older medications</a></p>
          </div>
        </div>
  </ion-content>
</ion-view>
