<ion-view title="UnitedHealthCare">
    <ion-content class="has-header padding">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                <i class="ion-arrow-right-a"></i>
            </button>
        </div>

        <div class="card blue-card">
            <div class="item item-divider item-text-wrap">
                <h2>Let's Talk</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="item item-avatar">
                        <img src="img/images/calender.png" class="col no-padding" />
                    </div>
                    <div class="col-75 padding item-text-wrap">
                        <p class="dash-header">Annual Physical</p>
                        <p class="reminder">Make an appointment with Dr. Wang</p>
                    </div>

                </div>
            </div>

            <div class="item item-text-wrap">
                <div class="row">
                    <div class="item item-avatar">
                        <img src="img/images/health.png" class="col no-padding" />
                    </div>
                    <div class="col-75 padding">
                        <p class="dash-header">Colonoscopy</p>
                        <p class="reminder">Find a Gastroenterologist</p>
                    </div>

                </div>
            </div>
            <!-- <div class="item item-divider gray">
                <small class="gray">312-589-7788</small>
            </div> -->
        </div>

        <div class="card orange-card">
            <div class="item item-divider item-text-wrap">
                <h2 class="orange">Dr. Johnson's Instructions</h2>
            </div>

            <ul class="list">
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Take 2 Advil 200mg each AM &amp; PM for 10 days
                </li>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Ice left foot 3x/day for 4 days
                </li>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Get an MRI
                </li>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Follow-up with doctor 3 days after MRI
                </li>
            </ul>

            <!-- <div class="item item-divider gray">
                <small class="gray">312-589-7788</small>
            </div> -->
        </div>

        <div class="card purple-card">
            <div class="item item-divider">
                <h2 class="purple">Cost</h2>
            </div>
            <div class="item item-text-wrap">
                Deductible
            </div>
            <div class="item item-text-wrap">
                Out-of-Pocket
            </div>
        </div>

        <div class="card green-card">
            <div class="item item-divider item-text-wrap">
                <h2 class="green">Insurance Details</h2>
            </div>
            <div class="item item-text-wrap">
                <b>Member Name:</b> Robbie Brown
            </div>
            <div class="item item-text-wrap">
                <b>Health Plan:</b> Heritage Select Advantage POS 911-95378-08
            </div>
            <div class="item item-text-wrap">
                <b>Member ID:</b> 999999999
            </div>
            <div class="item item-text-wrap">
                <b>Group Number:</b> H0JJN
                <br>
                <br>
                <a href="">View card</a>
            </div>
        </div>



    </ion-content>
</ion-view>
