<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <!-- login Tab -->
  <ion-tab title="Login" icon="icon ion-home" href="#/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon="icon ion-ionic" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Doctors Tab -->
  <ion-tab title="Doctors" icon="icon ion-medkit" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- My Health Tab -->
  <ion-tab title="My Health" icon="icon ion-heart" href="#/tab/myhealth">
    <ion-nav-view name="tab-myhealth"></ion-nav-view>
  </ion-tab>


  <!-- Cost & Claims Tab -->
   <ion-tab title="Cost &amp; Claims" icon="icon ion-social-usd" href="#/tab/cost">
    <ion-nav-view name="tab-cost"></ion-nav-view>
  </ion-tab>


  <!-- Medications Tab -->
   <ion-tab title="Medications" icon="icon ion-information-circled" href="#/tab/medications">
    <ion-nav-view name="tab-medications"></ion-nav-view>
  </ion-tab>


  <!-- Help Tab -->
   <ion-tab title="Help" icon="icon ion-help" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>


</ion-tabs>
